/* #f99a1a --> Laboratoria 
    #f5f5f0 --> Color de fondo
    #e0e0d1 --> Color de hover
    #333 --> Color de active
    font-family --> sans-serif*/
body {
  font-family: sans-serif;
}

#title {
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}
nav {
    /* outline: 1px solid red; */
    width: 300px;
}
ul {
    /* outline: 1px solid yellow;  */
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 40px;
}
.item {
    /* outline: 1px solid red; */
    border: 1px dotted #999;
    background-color: #f5f5f0;
}
/* Estados de los enlaces : LoVe/HAte Link Visited Hover Active*/
    
a {
    color: #000;
    display: block;
    text-decoration: none;
    padding-left: 10px;
    
}
a:hover {
    background: #e0e0d1; 
}
a:active { 
    background: #333;
    color: #fff;
}
ul li:first-child {
    background-color: #f99a1a;
}
ul li:first-child a {
    color: #fff;
}
ul li:first-child a:hover {
    color: #000;
}
ul li:first-child a:hover {
    color: #fff;
}